<% include ../partials/header %>
<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">Coming Soon
    <small>Check Back shortly</small>
  </h1>


  <div class="jumbotron">
    <h1 class="display-1">Coming Soon</h1>
    <p>The page you're looking for is still in the process of being made.</p>
  </div>
  <!-- /.jumbotron -->

</div>
<!-- /.container -->
<% include ../partials/footer %>
